* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    color: aliceblue;
}

h1 {
    display: grid;
    align-items: center;
    justify-content: center;
}
